{% extends "layout.html" %}
{% block title %}
    Buy
{% endblock %}

{% block main %}

<form action="{{url_for('buy')}}" method="post">
    <fieldset>
         <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="symbol" type="text"/>
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="shares" type="integers"/>
            <button class="btn btn-primary" type="submit">buy</button>
        </div>
    </fieldset>

</form>

{% endblock %}